<a href="https://colab.research.google.com/github/arielwendichansky/LinkedIn_analysis/blob/main/linkedin_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Import dependencies
import requests
from bs4 import BeautifulSoup
import random
import pandas as pd

# new

In [15]:
!pip install linkedin-jobs-scraper

Requirement already satisfied: linkedin-jobs-scraper in /usr/local/lib/python3.10/dist-packages (4.1.1)
Requirement already satisfied: selenium>=4.12.0 in /usr/local/lib/python3.10/dist-packages (from linkedin-jobs-scraper) (4.23.1)
Requirement already satisfied: urllib3<3,>=1.26 in /usr/local/lib/python3.10/dist-packages (from urllib3[socks]<3,>=1.26->selenium>=4.12.0->linkedin-jobs-scraper) (2.0.7)
Requirement already satisfied: trio~=0.17 in /usr/local/lib/python3.10/dist-packages (from selenium>=4.12.0->linkedin-jobs-scraper) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/lib/python3.10/dist-packages (from selenium>=4.12.0->linkedin-jobs-scraper) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.10/dist-packages (from selenium>=4.12.0->linkedin-jobs-scraper) (2024.7.4)
Requirement already satisfied: typing_extensions~=4.9 in /usr/local/lib/python3.10/dist-packages (from selenium>=4.12.0->linkedin-jobs-scraper) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in /usr/local/lib/python3.10/dist-packages (from selenium>=4.12.0->linkedin-jobs-scraper) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium>=4.12.0->linkedin-jobs-scraper) (24.2.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium>=4.12.0->linkedin-jobs-scraper) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium>=4.12.0->linkedin-jobs-scraper) (3.7)
Requirement already satisfied: outcome in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium>=4.12.0->linkedin-jobs-scraper) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium>=4.12.0->linkedin-jobs-scraper) (1.3.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium>=4.12.0->linkedin-jobs-scraper) (1.2.2)
Requirement already satisfied: wsproto>=0.14 in /usr/local/lib/python3.10/dist-packages (from trio-websocket~=0.9->selenium>=4.12.0->linkedin-jobs-scraper) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from urllib3[socks]<3,>=1.26->selenium>=4.12.0->linkedin-jobs-scraper) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium>=4.12.0->linkedin-jobs-scraper) (0.14.0)

In [16]:
import logging
from linkedin_jobs_scraper import LinkedinScraper
from linkedin_jobs_scraper.events import Events, EventData, EventMetrics
from linkedin_jobs_scraper.query import Query, QueryOptions, QueryFilters
from linkedin_jobs_scraper.filters import RelevanceFilters, TimeFilters, TypeFilters, ExperienceLevelFilters, OnSiteOrRemoteFilters

In [47]:
job_data = []
logging.basicConfig(level=logging.INFO)

def on_data(data: EventData):
    print('[ON_DATA]', data.title, data.company, data.company_link, data.date, data.link, data.insights, len(data.description))
    job_data.append([data.title, data.company, data.company_link, data.date, data.link, data.insights, data.description])

def on_error(error):
    print('[ON_ERROR]', error)

def on_end():
    print('[ON_END]')

In [48]:
scraper = LinkedinScraper(
    chrome_executable_path=None,
    chrome_options=None,
    headless=True,
    max_workers=1,
    slow_mo=0.5,
    page_load_timeout=40
)

INFO:li:scraper:('Using strategy AnonymousStrategy',)
WARNING:li:scraper:("AnonymousStrategy is no longer maintained and it won't probably work. It is recommended to use an authenticated session, see documentation at https://github.com/spinlud/py-linkedin-jobs-scraper#anonymous-vs-authenticated-session.",)

In [65]:
position = str(input('Set position to query:\n>>> '))
location = str(input('Set location to query:\n>>> '))

Set position to query:
>>> Data Analyst
Set location to query:
>>> United Kingdom

In [66]:
queries = [
    Query(
        query= position,
        options=QueryOptions(
            locations=[location],
            apply_link=True,
            skip_promoted_jobs=True,
            page_offset=9,
            limit=200,
            filters=QueryFilters(
                relevance=RelevanceFilters.RECENT,
                time=TimeFilters.ANY,
                type=[TypeFilters.FULL_TIME, TypeFilters.INTERNSHIP],
                on_site_or_remote=[OnSiteOrRemoteFilters.ON_SITE],
                experience=[ExperienceLevelFilters.ENTRY_LEVEL, ExperienceLevelFilters.INTERNSHIP]
            )
        )
    ),
]

In [67]:
scraper.on(Events.DATA, on_data)
scraper.on(Events.ERROR, on_error)
scraper.on(Events.END, on_end)

scraper.run(queries)

INFO:li:scraper:('Starting new query', "Query(query=Data Analyst options=QueryOptions(limit=200 locations=['United Kingdom'] filters=QueryFilters(relevance=RelevanceFilters.RECENT time=TimeFilters.ANY type=[<TypeFilters.FULL_TIME: 'F'>, <TypeFilters.INTERNSHIP: 'I'>] experience=[<ExperienceLevelFilters.ENTRY_LEVEL: '2'>, <ExperienceLevelFilters.INTERNSHIP: '1'>] on_site_or_remote=[<OnSiteOrRemoteFilters.ON_SITE: '1'>]) apply_link=True skip_promoted_jobs=True page_offset=9))")
INFO:li:scraper:('Chrome debugger url', 'http://localhost:41419')
INFO:li:scraper:('Websocket debugger url: ', 'ws://localhost:41419/devtools/page/37E4690C4676CBDA4BD94579CC8C972A')
WARNING:li:scraper:('[AnonymousStrategy]', 'This run strategy is no longer supported')
INFO:li:scraper:('[Data Analyst][United Kingdom]', 'Opening https://www.linkedin.com/jobs/search?keywords=Data+Analyst&location=United+Kingdom&sortBy=DD&f_TPR=&f_JT=F%2CI&f_E=2%2C1&start=0')
INFO:li:scraper:('[Data Analyst][United Kingdom]', 'Trying first selectors set')
INFO:li:scraper:('[Data Analyst][United Kingdom]', 'Trying second selectors set')
INFO:li:scraper:('[Data Analyst][United Kingdom]', 'OK')
INFO:li:scraper:('[Data Analyst][United Kingdom]', 'Starting pagination loop')
INFO:li:scraper:('[Data Analyst][United Kingdom]', 'Found 60 jobs')
INFO:li:scraper:('[Data Analyst][United Kingdom][1]', 'Processed')

[ON_DATA] Data Analyst Deliveroo  2024-08-13 https://uk.linkedin.com/jobs/view/data-analyst-at-deliveroo-3982555780?position=1&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=OAprPKd3f200qLKC7Yd%2BaA%3D%3D&trk=public_jobs_jserp-result_search-card [] 4609
[ON_DATA] Data Analyst Deliveroo  2024-08-13 https://uk.linkedin.com/jobs/view/data-analyst-at-deliveroo-3982555780?position=1&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=OAprPKd3f200qLKC7Yd%2BaA%3D%3D&trk=public_jobs_jserp-result_search-card [] 4609

INFO:li:scraper:('[Data Analyst][United Kingdom][2]', 'Processed')

[ON_DATA] Data Analyst payabl.  2024-08-01 https://uk.linkedin.com/jobs/view/data-analyst-at-payabl-3997302339?position=2&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=jvP2bv0P4WNuG9cTBnyo9g%3D%3D&trk=public_jobs_jserp-result_search-card [] 4827
[ON_DATA] Data Analyst payabl.  2024-08-01 https://uk.linkedin.com/jobs/view/data-analyst-at-payabl-3997302339?position=2&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=jvP2bv0P4WNuG9cTBnyo9g%3D%3D&trk=public_jobs_jserp-result_search-card [] 4827

ERROR:li:scraper:('[Data Analyst][United Kingdom][3]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][3]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][3]', 'Processed')

[ON_DATA] Data Analysis Capgemini Engineering  2024-08-05 https://uk.linkedin.com/jobs/view/data-analysis-at-capgemini-engineering-3991643968?position=5&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=aSXdnBY1tvUtb39gojzdww%3D%3D&trk=public_jobs_jserp-result_search-card [] 6970
[ON_DATA] Data Analysis Capgemini Engineering  2024-08-05 https://uk.linkedin.com/jobs/view/data-analysis-at-capgemini-engineering-3991643968?position=5&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=aSXdnBY1tvUtb39gojzdww%3D%3D&trk=public_jobs_jserp-result_search-card [] 6970

ERROR:li:scraper:('[Data Analyst][United Kingdom][4]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][4]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][4]', 'Processed')

[ON_DATA] Data Analyst Handelsbanken  2024-08-09 https://uk.linkedin.com/jobs/view/data-analyst-at-handelsbanken-3996681898?position=8&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=MmiHvHcV%2FAz%2BFDlK%2FVZo6g%3D%3D&trk=public_jobs_jserp-result_search-card [] 4315
[ON_DATA] Data Analyst Handelsbanken  2024-08-09 https://uk.linkedin.com/jobs/view/data-analyst-at-handelsbanken-3996681898?position=8&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=MmiHvHcV%2FAz%2BFDlK%2FVZo6g%3D%3D&trk=public_jobs_jserp-result_search-card [] 4315

ERROR:li:scraper:('[Data Analyst][United Kingdom][5]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][5]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][5]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][5]', 'Processed')

[ON_DATA] Data Insight Analyst Fruition IT  2024-08-14 https://uk.linkedin.com/jobs/view/data-insight-analyst-at-fruition-it-3998283584?position=12&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=fLXbBDrfXLoJ1fIKRAwXIA%3D%3D&trk=public_jobs_jserp-result_search-card [] 1942
[ON_DATA] Data Insight Analyst Fruition IT  2024-08-14 https://uk.linkedin.com/jobs/view/data-insight-analyst-at-fruition-it-3998283584?position=12&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=fLXbBDrfXLoJ1fIKRAwXIA%3D%3D&trk=public_jobs_jserp-result_search-card [] 1942

ERROR:li:scraper:('[Data Analyst][United Kingdom][6]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][6]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][6]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][6]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][6]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][6]', 'Processed')

[ON_DATA] Data Analyst Harnham  2024-08-02 https://uk.linkedin.com/jobs/view/data-analyst-at-harnham-3991393204?position=18&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=7guQxtNFeA7Kk9XPpLR78g%3D%3D&trk=public_jobs_jserp-result_search-card [] 767
[ON_DATA] Data Analyst Harnham  2024-08-02 https://uk.linkedin.com/jobs/view/data-analyst-at-harnham-3991393204?position=18&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=7guQxtNFeA7Kk9XPpLR78g%3D%3D&trk=public_jobs_jserp-result_search-card [] 767

ERROR:li:scraper:('[Data Analyst][United Kingdom][7]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][7]', 'Processed')

[ON_DATA] Data Analyst (SQL/EXCEL) GLOBAL SAAS! Robert Half  2024-07-27 https://uk.linkedin.com/jobs/view/data-analyst-sql-excel-global-saas%21-at-robert-half-3995437384?position=20&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=tgTgu7NAMg1mwjK1JYYjnw%3D%3D&trk=public_jobs_jserp-result_search-card [] 3177
[ON_DATA] Data Analyst (SQL/EXCEL) GLOBAL SAAS! Robert Half  2024-07-27 https://uk.linkedin.com/jobs/view/data-analyst-sql-excel-global-saas%21-at-robert-half-3995437384?position=20&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=tgTgu7NAMg1mwjK1JYYjnw%3D%3D&trk=public_jobs_jserp-result_search-card [] 3177

ERROR:li:scraper:('[Data Analyst][United Kingdom][8]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][8]', 'Processed')

[ON_DATA] Data Analyst Markel  2024-08-08 https://uk.linkedin.com/jobs/view/data-analyst-at-markel-3996245898?position=22&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=2g6ijokqBSm6tBPjTPcdBg%3D%3D&trk=public_jobs_jserp-result_search-card [] 5950
[ON_DATA] Data Analyst Markel  2024-08-08 https://uk.linkedin.com/jobs/view/data-analyst-at-markel-3996245898?position=22&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=2g6ijokqBSm6tBPjTPcdBg%3D%3D&trk=public_jobs_jserp-result_search-card [] 5950

ERROR:li:scraper:('[Data Analyst][United Kingdom][9]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][9]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][9]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][9]', 'Processed')

[ON_DATA] Data Analyst Graduate Siemens Energy  2024-08-16 https://uk.linkedin.com/jobs/view/data-analyst-graduate-at-siemens-energy-4000271137?position=26&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=0OJevSZ%2Bu%2FodagyNcuY4EQ%3D%3D&trk=public_jobs_jserp-result_search-card [] 3812
[ON_DATA] Data Analyst Graduate Siemens Energy  2024-08-16 https://uk.linkedin.com/jobs/view/data-analyst-graduate-at-siemens-energy-4000271137?position=26&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=0OJevSZ%2Bu%2FodagyNcuY4EQ%3D%3D&trk=public_jobs_jserp-result_search-card [] 3812

ERROR:li:scraper:('[Data Analyst][United Kingdom][10]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][10]', 'Processed')

[ON_DATA] Commercial Data Analyst - Internship Hadrian  2024-08-17 https://uk.linkedin.com/jobs/view/commercial-data-analyst-internship-at-hadrian-4000291605?position=28&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=AlzbJgSkReu5idGv9dpgzw%3D%3D&trk=public_jobs_jserp-result_search-card [] 4703
[ON_DATA] Commercial Data Analyst - Internship Hadrian  2024-08-17 https://uk.linkedin.com/jobs/view/commercial-data-analyst-internship-at-hadrian-4000291605?position=28&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=AlzbJgSkReu5idGv9dpgzw%3D%3D&trk=public_jobs_jserp-result_search-card [] 4703

INFO:li:scraper:('[Data Analyst][United Kingdom][11]', 'Processed')

[ON_DATA] Data Analyst Pareto  2024-08-08 https://uk.linkedin.com/jobs/view/data-analyst-at-pareto-3994286754?position=29&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=nh5CqVU%2F81n0fxI9gijXXA%3D%3D&trk=public_jobs_jserp-result_search-card [] 1878
[ON_DATA] Data Analyst Pareto  2024-08-08 https://uk.linkedin.com/jobs/view/data-analyst-at-pareto-3994286754?position=29&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=nh5CqVU%2F81n0fxI9gijXXA%3D%3D&trk=public_jobs_jserp-result_search-card [] 1878

ERROR:li:scraper:('[Data Analyst][United Kingdom][12]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][12]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][12]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][12]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][12]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][12]', 'Processed')

[ON_DATA] Data Analyst Erin Associates Ltd  2024-08-02 https://uk.linkedin.com/jobs/view/data-analyst-at-erin-associates-ltd-3990346835?position=35&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=vqXfzsIiLHT6YkXt1%2FYcog%3D%3D&trk=public_jobs_jserp-result_search-card [] 1978
[ON_DATA] Data Analyst Erin Associates Ltd  2024-08-02 https://uk.linkedin.com/jobs/view/data-analyst-at-erin-associates-ltd-3990346835?position=35&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=vqXfzsIiLHT6YkXt1%2FYcog%3D%3D&trk=public_jobs_jserp-result_search-card [] 1978

ERROR:li:scraper:('[Data Analyst][United Kingdom][13]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][13]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][13]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][13]', 'Processed')

[ON_DATA] Marketing Data Analyst Premiership Rugby  2024-08-02 https://uk.linkedin.com/jobs/view/marketing-data-analyst-at-premiership-rugby-3989667921?position=39&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=wLsO6H1eHsfZcE4taYz8lA%3D%3D&trk=public_jobs_jserp-result_search-card [] 4097
[ON_DATA] Marketing Data Analyst Premiership Rugby  2024-08-02 https://uk.linkedin.com/jobs/view/marketing-data-analyst-at-premiership-rugby-3989667921?position=39&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=wLsO6H1eHsfZcE4taYz8lA%3D%3D&trk=public_jobs_jserp-result_search-card [] 4097

INFO:li:scraper:('[Data Analyst][United Kingdom][14]', 'Processed')

[ON_DATA] Data Analyst, Fraud Cleo  2024-08-12 https://uk.linkedin.com/jobs/view/data-analyst-fraud-at-cleo-3999440580?position=40&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=51O8RhMoOwktRCJu9W9n1A%3D%3D&trk=public_jobs_jserp-result_search-card [] 5507
[ON_DATA] Data Analyst, Fraud Cleo  2024-08-12 https://uk.linkedin.com/jobs/view/data-analyst-fraud-at-cleo-3999440580?position=40&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=51O8RhMoOwktRCJu9W9n1A%3D%3D&trk=public_jobs_jserp-result_search-card [] 5507

ERROR:li:scraper:('[Data Analyst][United Kingdom][15]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][15]', 'Processed')

[ON_DATA] Data Analyst Context Recruitment  2024-08-09 https://uk.linkedin.com/jobs/view/data-analyst-at-context-recruitment-3997375106?position=42&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=hbmPhawmQIcvhKDe8Vle1w%3D%3D&trk=public_jobs_jserp-result_search-card [] 1345
[ON_DATA] Data Analyst Context Recruitment  2024-08-09 https://uk.linkedin.com/jobs/view/data-analyst-at-context-recruitment-3997375106?position=42&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=hbmPhawmQIcvhKDe8Vle1w%3D%3D&trk=public_jobs_jserp-result_search-card [] 1345

ERROR:li:scraper:('[Data Analyst][United Kingdom][16]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][16]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][16]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][16]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][16]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][16]', 'Processed')

[ON_DATA] Data Analyst - Power BI Energy Jobline  2024-08-17 https://uk.linkedin.com/jobs/view/data-analyst-power-bi-at-energy-jobline-4002351508?position=48&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=hbEE4SL6AMo56jnFjfYPdA%3D%3D&trk=public_jobs_jserp-result_search-card [] 3023
[ON_DATA] Data Analyst - Power BI Energy Jobline  2024-08-17 https://uk.linkedin.com/jobs/view/data-analyst-power-bi-at-energy-jobline-4002351508?position=48&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=hbEE4SL6AMo56jnFjfYPdA%3D%3D&trk=public_jobs_jserp-result_search-card [] 3023

INFO:li:scraper:('[Data Analyst][United Kingdom][17]', 'Processed')

[ON_DATA] Intelligence Analyst trg.recruitment  2024-08-07 https://uk.linkedin.com/jobs/view/intelligence-analyst-at-trg-recruitment-3994651662?position=49&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=nlhcN1lrBlI8r3bxheQriw%3D%3D&trk=public_jobs_jserp-result_search-card [] 958
[ON_DATA] Intelligence Analyst trg.recruitment  2024-08-07 https://uk.linkedin.com/jobs/view/intelligence-analyst-at-trg-recruitment-3994651662?position=49&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=nlhcN1lrBlI8r3bxheQriw%3D%3D&trk=public_jobs_jserp-result_search-card [] 958

ERROR:li:scraper:('[Data Analyst][United Kingdom][18]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][18]', 'Processed')

[ON_DATA] Data & Analytics Apprentice Cybit  2024-07-01 https://uk.linkedin.com/jobs/view/data-analytics-apprentice-at-cybit-3962768868?position=51&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=Sh9X8n8pyP94gtaAaaThtg%3D%3D&trk=public_jobs_jserp-result_search-card [] 5220
[ON_DATA] Data & Analytics Apprentice Cybit  2024-07-01 https://uk.linkedin.com/jobs/view/data-analytics-apprentice-at-cybit-3962768868?position=51&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=Sh9X8n8pyP94gtaAaaThtg%3D%3D&trk=public_jobs_jserp-result_search-card [] 5220

ERROR:li:scraper:('[Data Analyst][United Kingdom][19]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][19]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][19]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][19]', 'Processed')

[ON_DATA] Administrative Data Analyst Catch22  2024-08-06 https://uk.linkedin.com/jobs/view/administrative-data-analyst-at-catch22-3994746390?position=55&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=%2FY6DEKxmcL8qzjsHTdtwpA%3D%3D&trk=public_jobs_jserp-result_search-card [] 4491
[ON_DATA] Administrative Data Analyst Catch22  2024-08-06 https://uk.linkedin.com/jobs/view/administrative-data-analyst-at-catch22-3994746390?position=55&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=%2FY6DEKxmcL8qzjsHTdtwpA%3D%3D&trk=public_jobs_jserp-result_search-card [] 4491

INFO:li:scraper:('[Data Analyst][United Kingdom][20]', 'Processed')

[ON_DATA] Data Analyst Hammond Consulting  2024-07-12 https://uk.linkedin.com/jobs/view/data-analyst-at-hammond-consulting-3975724505?position=56&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=wbniJEa4cueZS1FMkt1tnQ%3D%3D&trk=public_jobs_jserp-result_search-card [] 1944
[ON_DATA] Data Analyst Hammond Consulting  2024-07-12 https://uk.linkedin.com/jobs/view/data-analyst-at-hammond-consulting-3975724505?position=56&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=wbniJEa4cueZS1FMkt1tnQ%3D%3D&trk=public_jobs_jserp-result_search-card [] 1944

INFO:li:scraper:('[Data Analyst][United Kingdom][21]', 'Processed')

[ON_DATA] Data Insight Analyst Wow Mobile  2024-08-14 https://uk.linkedin.com/jobs/view/data-insight-analyst-at-wow-mobile-4001719532?position=57&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=6JG7rmuVLMekBy8ikOrIaA%3D%3D&trk=public_jobs_jserp-result_search-card [] 1912
[ON_DATA] Data Insight Analyst Wow Mobile  2024-08-14 https://uk.linkedin.com/jobs/view/data-insight-analyst-at-wow-mobile-4001719532?position=57&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=6JG7rmuVLMekBy8ikOrIaA%3D%3D&trk=public_jobs_jserp-result_search-card [] 1912

INFO:li:scraper:('[Data Analyst][United Kingdom][22]', 'Processed')

[ON_DATA] Data Analyst (Business Intelligence) Tenth Revolution Group  2024-08-14 https://uk.linkedin.com/jobs/view/data-analyst-business-intelligence-at-tenth-revolution-group-3998231187?position=58&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=GxhjFrl0wl1aZSywYym5xg%3D%3D&trk=public_jobs_jserp-result_search-card [] 1379
[ON_DATA] Data Analyst (Business Intelligence) Tenth Revolution Group  2024-08-14 https://uk.linkedin.com/jobs/view/data-analyst-business-intelligence-at-tenth-revolution-group-3998231187?position=58&pageNum=0&refId=QvW8vtb5mIRZShhYjtxzSQ%3D%3D&trackingId=GxhjFrl0wl1aZSywYym5xg%3D%3D&trk=public_jobs_jserp-result_search-card [] 1379

ERROR:li:scraper:('[Data Analyst][United Kingdom][23]', 'Timeout on loading job details')
NoneType: None
ERROR:li:scraper:('[Data Analyst][United Kingdom][23]', 'Timeout on loading job details')
NoneType: None
INFO:li:scraper:('[Data Analyst][United Kingdom][23]', 'Checking for new jobs to load...')
INFO:li:scraper:('[Data Analyst][United Kingdom][23]', "Couldn't find more jobs for the running query")

[ON_END]
[ON_END]

In [68]:
# Create a df out of the job_data list
df = pd.DataFrame(job_data, columns=['title', 'company', 'company_link', 'date', 'link', 'insights', 'description'])
df

,title,company,company_link,date,link,insights,description
0,Analyst (Global Data and Analytics),Circle K,,2024-08-15,https://www.linkedin.com/jobs/view/analyst-glo...,[],Job Summary\n\nAs a member of the Global Analy...
1,SQL Data Analysts,Ledgent Technology,,2024-07-22,https://www.linkedin.com/jobs/view/sql-data-an...,[],SQL Data Analyst\nEmployment Type: Contract-to...
2,Data Analyst,DC Department of Human Resources,,2024-08-14,https://www.linkedin.com/jobs/view/data-analys...,[],We are excited in your interest to join DC Hea...
3,Data Analyst (Business Intelligence),Corcentric,,2024-07-21,https://www.linkedin.com/jobs/view/data-analys...,[],"As a Business Intelligence Analyst, you will j..."
4,Data Analyst,Inceed,,2024-08-15,https://www.linkedin.com/jobs/view/data-analys...,[],Compensation: $130k-160k/year\n\nLocation: Rem...
...,...,...,...,...,...,...,...
66,Data Analyst,Hammond Consulting,,2024-07-12,https://uk.linkedin.com/jobs/view/data-analyst...,[],"London / Hybrid - 3 days a week\n\n£45,000 - £..."
67,Data Insight Analyst,Wow Mobile,,2024-08-14,https://uk.linkedin.com/jobs/view/data-insight...,[],"Leeds, West Yorkshire\n\nHybrid - 2 days in th..."
68,Data Insight Analyst,Wow Mobile,,2024-08-14,https://uk.linkedin.com/jobs/view/data-insight...,[],"Leeds, West Yorkshire\n\nHybrid - 2 days in th..."
69,Data Analyst (Business Intelligence),Tenth Revolution Group,,2024-08-14,https://uk.linkedin.com/jobs/view/data-analyst...,[],Job Description\n\nData Analyst\n\nOxford Base...
70,Data Analyst (Business Intelligence),Tenth Revolution Group,,2024-08-14,https://uk.linkedin.com/jobs/view/data-analyst...,[],Job Description\n\nData Analyst\n\nOxford Base...

In [69]:
df = df.drop(columns=['company_link','insights'])
print(f'Data frame with duplicated values:', df.duplicated().sum())
df = df.drop_duplicates()
print(f'\nData frame without duplicated values:', df.duplicated().sum())
print('\n',df.info())

Data frame with duplicated values: 22

Data frame without duplicated values: 0
<class 'pandas.core.frame.DataFrame'>
Index: 49 entries, 0 to 69
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        49 non-null     object
 1   company      49 non-null     object
 2   date         49 non-null     object
 3   link         49 non-null     object
 4   description  49 non-null     object
dtypes: object(5)
memory usage: 2.3+ KB

 None

In [70]:
df.to_csv(f'linkedin_jobs_{location}.csv', index=False)

# Merge and ETA

In [75]:
# Reading data from Israel and adding location column
df_israel = pd.read_csv('linkedin_jobs_Israel.csv')
df_israel['location'] = 'Israel'
df_israel.head()

,title,company,date,link,description,location
0,Junior Data Analyst,OpenWeb,2024-07-30,https://il.linkedin.com/jobs/view/junior-data-...,We create a safe space for communities to thri...,Israel
1,Data Analyst,Remitly Israel (formerly Rewire),2024-08-13,https://il.linkedin.com/jobs/view/data-analyst...,Job Description\n\nRemitly’s vision is to tran...,Israel
2,Product Data Analyst,Plus500™,2024-07-31,https://il.linkedin.com/jobs/view/product-data...,Product Data Analyst\n\nR&D\nHaifa\n\n\n\n\nPl...,Israel
3,Junior Business Data Analyst,Moon Active,2024-08-16,https://il.linkedin.com/jobs/view/junior-busin...,Description\n\nMoon Active is one of the world...,Israel
4,Data Analyst,Mobileye,2024-08-12,https://il.linkedin.com/jobs/view/data-analyst...,Our team's responsibility is to lead Mobileye’...,Israel

In [76]:
# Verifying that all the values are for data analysis jobs or related to a Data Analyst position
df_israel['title'].unique()

array(['Junior Data Analyst', 'Data Analyst', 'Product Data Analyst',
       'Junior Business Data Analyst',
       'Data Analyst (Blockchain ecosystem)',
       'דרוש/ה excel data analyst לחברת מאגרי מידע',
       'ML & Big Data Analyst', 'Data Engineer', 'מנתח/ת מערכות BI',
       'Cyber Intelligence Researcher', 'ניתוח מערכות BI',
       'Business Intelligence Developer', 'eMerge Developer',
       'Product Analyst', 'ePayments Analyst', 'BI Developer',
       'MIS Software Developer',
       'Junior Cloud Security Engineer (Entry-Level)', 'System Engineer',
       'Research Engineer', 'Researcher', 'Geo Analyst',
       'Oracle Developer', 'DataOps/ Analytics Engineer',
       'Researcher (Blockchain ecosystem)', 'Salesforce Developer',
       'Customer Engineer, Cloud Native Database Management, Google Cloud',
       'אנליסט/ית BI עם סיווג', 'Technical Data Analyst',
       'Senior Product/Data Analyst',
       'Quantitative Researcher - Stock Intelligence',
       'Business Intelligence Developer - Temporary Position',
       'Anti-Fraud Analyst', 'Quantitative Researcher',
       'IT Lab Operator and Support Engineer',
       'Systems Analyst and CRM Dynamics implementer',
       'Security Researcher - macOS', 'Junior Backend Developer',
       'Junior Backend Software Engineer',
       'Junior Back End Developer (Elixir!)',
       'Junior Full Stack Developer'], dtype=object)

In [81]:
# Filtering rows where the 'title' column contains any of the keywords
df_israel = df_israel[df_israel['title'].str.contains(r'Data|Analyst|BI|Business', case=False, na=False)]

In [83]:
# Checking for possible null values
df_israel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, 0 to 71
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        45 non-null     object
 1   company      45 non-null     object
 2   date         45 non-null     object
 3   link         45 non-null     object
 4   description  45 non-null     object
 5   location     45 non-null     object
dtypes: object(6)
memory usage: 2.5+ KB

In [84]:
# Reading data from US and adding location column

df_US = pd.read_csv('linkedin_jobs_United States.csv')
df_US['location'] = 'US'
df_US.head()

,title,company,date,link,description,location
0,Analyst (Global Data and Analytics),Circle K,2024-08-15,https://www.linkedin.com/jobs/view/analyst-glo...,Job Summary\n\nAs a member of the Global Analy...,US
1,SQL Data Analysts,Ledgent Technology,2024-07-22,https://www.linkedin.com/jobs/view/sql-data-an...,SQL Data Analyst\nEmployment Type: Contract-to...,US
2,Data Analyst,DC Department of Human Resources,2024-08-14,https://www.linkedin.com/jobs/view/data-analys...,We are excited in your interest to join DC Hea...,US
3,Data Analyst (Business Intelligence),Corcentric,2024-07-21,https://www.linkedin.com/jobs/view/data-analys...,"As a Business Intelligence Analyst, you will j...",US
4,Data Analyst,Inceed,2024-08-15,https://www.linkedin.com/jobs/view/data-analys...,Compensation: $130k-160k/year\n\nLocation: Rem...,US

In [86]:
df_US['title'].unique()

array(['Analyst (Global Data and Analytics)', 'SQL Data Analysts',
       'Data Analyst', 'Data Analyst (Business Intelligence)',
       'Junior Data Analyst', 'SQL Data Analyst',
       'Data & Analytics Analyst', 'Analista de Dados',
       'Entry Level Data Analyst'], dtype=object)

In [88]:
df_US.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        27 non-null     object
 1   company      27 non-null     object
 2   date         27 non-null     object
 3   link         27 non-null     object
 4   description  27 non-null     object
 5   location     27 non-null     object
dtypes: object(6)
memory usage: 1.4+ KB

In [90]:
# Reading data from UK and adding location column

df_UK = pd.read_csv('linkedin_jobs_United Kingdom.csv')
df_UK['location'] = 'UK'
df_UK.head()

,title,company,date,link,description,location
0,Analyst (Global Data and Analytics),Circle K,2024-08-15,https://www.linkedin.com/jobs/view/analyst-glo...,Job Summary\n\nAs a member of the Global Analy...,UK
1,SQL Data Analysts,Ledgent Technology,2024-07-22,https://www.linkedin.com/jobs/view/sql-data-an...,SQL Data Analyst\nEmployment Type: Contract-to...,UK
2,Data Analyst,DC Department of Human Resources,2024-08-14,https://www.linkedin.com/jobs/view/data-analys...,We are excited in your interest to join DC Hea...,UK
3,Data Analyst (Business Intelligence),Corcentric,2024-07-21,https://www.linkedin.com/jobs/view/data-analys...,"As a Business Intelligence Analyst, you will j...",UK
4,Data Analyst,Inceed,2024-08-15,https://www.linkedin.com/jobs/view/data-analys...,Compensation: $130k-160k/year\n\nLocation: Rem...,UK

In [91]:
df_UK['title'].unique()

array(['Analyst (Global Data and Analytics)', 'SQL Data Analysts',
       'Data Analyst', 'Data Analyst (Business Intelligence)',
       'Junior Data Analyst', 'SQL Data Analyst',
       'Data & Analytics Analyst', 'Analista de Dados',
       'Entry Level Data Analyst', 'Data Analysis',
       'Data Insight Analyst', 'Data Analyst (SQL/EXCEL) GLOBAL SAAS!',
       'Data Analyst Graduate', 'Commercial Data Analyst - Internship',
       'Marketing Data Analyst', 'Data Analyst, Fraud',
       'Data Analyst - Power BI', 'Intelligence Analyst',
       'Data & Analytics Apprentice', 'Administrative Data Analyst'],
      dtype=object)

In [92]:
df_UK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        49 non-null     object
 1   company      49 non-null     object
 2   date         49 non-null     object
 3   link         49 non-null     object
 4   description  49 non-null     object
 5   location     49 non-null     object
dtypes: object(6)
memory usage: 2.4+ KB

In [97]:
# Merged the 3 dataset into a single one
df_DA = pd.merge(df_israel, df_US, how='outer')
df_DA = pd.merge(df_DA, df_UK, how='outer')
df_DA

,title,company,date,link,description,location
0,Junior Data Analyst,OpenWeb,2024-07-30,https://il.linkedin.com/jobs/view/junior-data-...,We create a safe space for communities to thri...,Israel
1,Data Analyst,Remitly Israel (formerly Rewire),2024-08-13,https://il.linkedin.com/jobs/view/data-analyst...,Job Description\n\nRemitly’s vision is to tran...,Israel
2,Product Data Analyst,Plus500™,2024-07-31,https://il.linkedin.com/jobs/view/product-data...,Product Data Analyst\n\nR&D\nHaifa\n\n\n\n\nPl...,Israel
3,Junior Business Data Analyst,Moon Active,2024-08-16,https://il.linkedin.com/jobs/view/junior-busin...,Description\n\nMoon Active is one of the world...,Israel
4,Data Analyst,Mobileye,2024-08-12,https://il.linkedin.com/jobs/view/data-analyst...,Our team's responsibility is to lead Mobileye’...,Israel
...,...,...,...,...,...,...
116,Data & Analytics Apprentice,Cybit,2024-07-01,https://uk.linkedin.com/jobs/view/data-analyti...,Job Title: Data & Analytics Apprentice\n\nLoca...,UK
117,Administrative Data Analyst,Catch22,2024-08-06,https://uk.linkedin.com/jobs/view/administrati...,"Company Description\n\nAt Catch22, we are prou...",UK
118,Data Analyst,Hammond Consulting,2024-07-12,https://uk.linkedin.com/jobs/view/data-analyst...,"London / Hybrid - 3 days a week\n\n£45,000 - £...",UK
119,Data Insight Analyst,Wow Mobile,2024-08-14,https://uk.linkedin.com/jobs/view/data-insight...,"Leeds, West Yorkshire\n\nHybrid - 2 days in th...",UK
120,Data Analyst (Business Intelligence),Tenth Revolution Group,2024-08-14,https://uk.linkedin.com/jobs/view/data-analyst...,Job Description\n\nData Analyst\n\nOxford Base...,UK